div {
	border: #660000 inset 2px;
	border-radius: 5px;
	font-size: 12px;
}
div div {
	border: none;
	border-radius: initial;
}
#dropzone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}
#progressbar {
	margin: 10px 0;
	padding: 3px;
	border: 1px solid #000;
	font-size: 14px;
	clear: both;
	opacity: 0;
	text-align: center;
	-moz-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
}
#progressbar.loading {
	opacity: 1.0;
}
#progressbar .percent {
	background-color: #99ccff;
	height: auto;
	width: 0;
}
#progressbar.error {
	border-color: #ff0000;
}
#progressbar.error .percent {
	background-color: #ff9999;
}
#progressbar.abort .percent {
	background-color: #ffff66;
}
.hidden {
	display: none;
}
.board {
	padding: 1px;
}
.panel {
	/*border: #000066 solid 1px;*/
	display: table;
	table-layout: fixed;
	width: 100%;
	position: relative;
}
.panel .pane {
	/*border: #006600 solid 1px;*/
	display: table-row;
	position: relative;
}
.panel .pane.caption {
	background-color: #660066;
	color: white;
	font-size: 14px;
}
.panel .pane.caption > label {
	padding: 1px 3px;
}
.panel .pane > label {
	/*border: #660000 solid 1px;*/
	display: table-cell;
	position: relative;
	text-align: center;
	width: 100%;
}
.code {
	color: blue;
}
.caption .code {
	color: white;
}
.separator {
	height: 20px;
	border: none;
}
.pane.coupon {
	position: relative;
	background-color: -webkit-linear-gradient(top, #62bb47 0%,#539f3d 100%);
	background-color: #539f3d;
	color: #ffffff;
	border: red solid 1px;
}
.arrow {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	margin: 1px;
	width: 14px;
	height: 14px;
	opacity: .2;
	background-image: url(../images/arrows_white.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 56px 14px;
}
.arrow.on1 {
	opacity: 1;
}
.arrow.on2 {
	background-position: -29px 0;
}
.filter {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	margin: 1px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.remove-filter {
	position: absolute;
	display: inline-block;
	top: 0;
	right: 3px;
	margin: 0;
	vertical-align: middle;
	color: #ffffff;
}
.remove-filter button {
	font-size: 10px;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
	box-shadow: 0px 3px 5px #000;
	text-shadow: 0 -1px 0 #000;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}
.remove-filter button:active {
	-webkit-transform: translateY(3px);	
	transform: translateY(3px);
	box-shadow: 0px 0px 0px #000;
	text-shadow: 0 0px 0 #000;
}
.hover:hover {
	background-color: rgba(127,127,127, .5);
}
.hover:hover .filter {
	display: inline-block;
}
.selected .arrow {
	background-position: 0 0;
}
.panel.events {
	background-color: white;
	color: #000066;
}
.panel.events .pane.caption {
	background-color: -webkit-linear-gradient(top, #62bb47 0%,#539f3d 100%);
	background-color: #62bb47;
	color: #ffffff;
	font-size: 10px;
}
#xml {
	display: none;
}